[submodule "start/coc.nvim"]
	path = start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "start/ale"]
	path = start/ale
	url = https://github.com/w0rp/ale.git
[submodule "start/jellybeans.vim"]
	path = start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "start/asyncrun.vim"]
	path = start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "start/neosnippet.vim"]
	path = start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "start/vim-easymotion"]
	path = start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "start/vim-easy-align"]
	path = start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "start/vim-quickhl"]
	path = start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
[submodule "start/fzf.vim"]
	path = start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "start/gina.vim"]
	path = start/gina.vim
	url = https://github.com/lambdalisue/gina.vim.git
[submodule "start/rapidfire.vim"]
	path = start/rapidfire.vim
	url = git@github.com:c000/rapidfire.vim
[submodule "start/vim-dispatch"]
	path = start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "start/vim-gitgutter"]
	path = start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "repos/ghcid"]
	path = repos/ghcid
	url = https://github.com/ndmitchell/ghcid
